<div class="sidebar">
  <ul>
    <div class="icon-container">
      <li><%= link_to root_path do %>
        <i class="fas fa-home"></i>
      <% end %></li>
    </div>
    <div class="icon-container">
      <li><%= link_to inventory_path do %>
        <i class="fas fa-bolt"></i>
      <% end %></li>
    </div>
    <!-- <div class="icon-container">
      <li><%= link_to disenchant_path do %>
        <i class="fas fa-wand-magic-sparkles"></i>
      <% end %></li>
    </div> -->
    <!-- Add more sidebar options as needed -->
  </ul>
</div>
