<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <%= render 'shared/top_navbar' %>
    <%= render 'shared/sidebar' %>
    <h1>Disenchant</h1>
    <div class='middle-section'>
        <p>Coming Soon!</p>
    </div>
  </body>
</html>
